body {
    margin: 0;
}
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin-top: 0;
}
ul,
li,
ol {
    list-style: none;
}
button {
    border: none;
    outline: none;
}
a {
    cursor: pointer;
    text-decoration: none;
}
span {
    line-height: 0;
}
